{
    "rabbitmq": {
        "host": "{{ rabbitmq.host }}",
        "vhost": "{{ rabbitmq.vhost }}",
        "user": "{{ rabbitmq.user }}",
        "password": "{{ rabbitmq.pass }}"
    },
    "reddis": {
        "host": "reddis.host"
    },
    "api": {
        "port": {{ rabbitmq.api_port }}
    }
}
