{
    "sensu": [
        {
            "name": "{{ client.name }}",
            "host": "{{ host }}",
            "port": {{ rabbitmq.api_port }},
            "ssl": false,
            "path": "",
            "user": "{{ rabbitmq.user }}",
            "pass": "{{ rabbitmq.pass }}",
            "timeout": 5
        }
    ],
    "uchiwa": {
        "host": "0.0.0.0",
        "port": 3000,
        "interval": 5
    }
}
